#admin-login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: #eeeeee;
    .admin-login-container {
        background: white;
        width: 400px;
        padding: 20px;
        border-radius: 6px;
        .alert {
            font-size: 14px;
        }
    }
}
