.admin-form {
    .form-group {
        label {
            font-size: 13px;
        }
        input {
            font-size: 13px;
        }
        select {
            max-width: 400px;
            font-size: 13px;
        }
        textarea {
            font-size: 13px;
        }
        label.label-input-file {
            cursor: pointer;
            color: #6c757d !important;
            background: white;
            width: 94px;
            height: 31px;
            display: flex;
            align-items: center;
            border-radius: 4px;
            padding-left: 16px;
            border: 1px solid #ced4da;
            -moz-user-select: none;
            -khtml-user-select: none;
            -webkit-user-select: none;
        }
        .error {
            color: red;
            font-size: 12px;
            margin-top: 6px;
        }
    }
}