.admin-table {
    th, td {
        font-size: 14px;
    }
    tbody {
        background: white;
        td {
            .btn-group {
                .btn {
                    font-size: 12px !important;
                    height: 28px;
                }
            }
        }
    }
    .tb-action {
        width: 200px;
    }
}
